@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://scottjehl.com/picturefill')

html, body, h1, h2, h3, p, ol, ul, li, a {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 16px;
  font: inherit;
}

body {
  background: #000000 url(Images/fancy-pattern.png) fixed;
  font-size: 62.5%;
  width: 90%;
  margin: 0 auto;
}

.header {
  font-family: 'Open Sans', sans-serif;
  background: #dddddd;
  padding: 10px 0 20px;
  margin: 5% 0;
}

.logo {
  display: block;
  height: auto;
  width: 100%;
  text-indent: -9999px;
  margin: 0 auto 15px;
}

.header ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.header li {
    display: inline;
    padding: 0 10px;
    border-right: 2px solid #A47F53;
}

.header li:last-child {
  border-right: 0;
}

.header a {
    color: #000000;
    text-decoration: none;
    font-size: 1.8em;
}

.header a:hover {
  color: #A47F53;
}

.main-content {
  font-family: 'Open Sans', sans-serif;
  display: block;
  background: #888888;
  margin-bottom: 5%;
}

.main-content h1 {
  background-color: #dddddd;
  padding: 15px 0 15px 25px;
  border-bottom: #ffffff solid 3px;
  font-size: 3.2em;
  font-weight: bold;
  margin: 0;
}

.group img {
  /*float: left;
  padding: 25px;*/
}

.group:before, .group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* IE6&7 */
}

.group h2 {
  text-decoration: underline;
  font-size: 2.4em;
  margin: 0;
}

.content-container {
  float: left;
  padding: 25px;
}

.group .content-container:first-child {
  padding-right: 0;
}

@media screen and (max-width: 651px) {

  .group .content-container:first-child {
    padding-bottom: 0;
    text-align: center;
    float: none;
    margin: 0 auto;
    padding-left: 0;
  }

  .group .content-container:nth-child(2) {
    text-align: center;
    padding-top: 10px;
    margin-top: 25px;
    box-sizing: border-box;
    border-top: #ffffff solid 3px;
    width: 100%;
  }
}
